.topbar{
    margin: auto;
    height: 40px;
    /* width: 1600px; */
    background-color: #1D2939;
color: white;
display: grid;
grid-template-columns: 77% 23%;
/* height: 9%; */
font-size: 15px;
/* align-items: center; */
}

.t1 ul li{
    /* margin: auto; */
    margin-bottom: 100px;
    display: inline-block;
    /* padding: 5px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500px;
}

.t1 ul{
    
    list-style: none;
}

.t2 ul li {
    display: inline; 
    background-color: transparent;
    /* border: 1px solid white; */
    padding: 12px; 
    /* border-radius: 15px; */
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    
}

.t2 ul li a{
    /* margin: auto; */
    padding: 5px;
    text-decoration: none; color: rgb(255, 255, 255); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* text-align: left; */
    align-items: center;
    font-weight: 500px;
  
}

.lm{
    margin: auto;
    height: 90px;
    /* width: 1600px; */
    background-color: #F2F2F2;
color: white;
display: grid;
grid-template-columns: 40% 60%;
/* height: 6%; */
font-size: 15px;
align-items: center;
/* margin-left: ; */
border-radius: 1px solid blue;
box-shadow: inset 0px 0px 8px  black;
}

.logo img{
    margin-left: 30px;
    height: 100px;
    width: 100px;
}

.menu ul a{
    color: #1D2939;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
list-style: none;
text-decoration: none;
}

.menu ul li{
    display: inline;
}

.banner{
    background: url(images/banner\ new.jpg);
    height: 30vh;
    display: flex;
    background-position: center;
  
}
.overlay{
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    text-align: center;
    /* background: transparent; */
    opacity: 100%;

}
.overlay h1{
    
        margin: auto;
        color: white;
        position: relative;
        margin-top: 9.5%;
        transform: translateY(-50px);
        font-size: 50px;
       
}

.abt{
    
    margin: auto;
    width: 1400px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto
    
}

.abt1{
   display: grid;
   /* grid-template-columns: auto auto; */
   gap: 50px;
   padding: 20px;
}

.abt1 h1{
    margin: auto;
text-align: justify;

}
h1 img
{align-items: center;
    text-align: center;
    /* display: grid; */
    height: 25px;
    width: 25px;
}

.abt p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

.img2{
 
   
    height: 200px;
}